django~=2.2.7
django-suit
sorl-thumbnail
Pillow
django-admin-rangefilter
django-bootstrap3
django-ckeditor
django-import-export
django-jet
psycopg2
psycopg2-binary
django-extensions
graphviz
djangorestframework==3.9.2
markdown
django-filter
django-rest-swagger
django-crispy-forms
qrcode
pyqrcode
pypng
django-googledrive-storage
django-storages[google]
firebase-admin
celery==4.2.0
django_celery_results
redis
django-redis
graphene-django
exponent_server_sdk
gunicorn
django_select2