  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>School</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'land/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/gijgo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'land/css/slicknav.css' %}">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" type="text/css" href="{% static 'land/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->