{% load static %}
    <!-- link that opens popup -->
    <script src="{% static 'land/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
    <!-- JS here -->
    <script src="{% static 'land/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'land/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'land/js/popper.min.js' %}"></script>
    <script src="{% static 'land/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'land/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'land/js/ajax-form.js' %}"></script>
    <script src="{% static 'land/js/waypoints.min.js' %}"></script>
    <script src="{% static 'land/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'land/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'land/js/scrollIt.js' %}"></script>
    <script src="{% static 'land/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'land/js/wow.min.js' %}"></script>
    <script src="{% static 'land/js/nice-select.min.js' %}"></script>
    <script src="{% static 'land/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'land/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'land/js/plugins.js' %}"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="{% static 'land/js/slick.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'land/js/contact.js' %}"></script>
    <script src="{% static 'land/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'land/js/jquery.form.js' %}"></script>
    <script src="{% static 'land/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'land/js/mail-script.js' %}"></script>


    <script src="{% static 'land/js/main.js' %}"></script>