{% extends 'sense/lte/index.html' %}
{% load static %}
{% block title %} Ektrakurikuler Sekolah {% endblock %}

{% block url %}
<li class="nav-item"><a class="nav-link active" href="{% url 'sex_view' %}">Daftar Ekstrakurilkuler</a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'sex_add' %}">Tambah EkstraKurikuler</a></li>
{% endblock %}

{% block content %}
<section class="content">
        <div class="col-12">
          <br>
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Extracurricular</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for extra in extras %}
                  <tr>
                    <td>{{ extra.name }}</td>
                      <td class="project-actions text-center">
                          <a class="btn btn-info btn-sm" href="{% url 'sex_edit' pk=extra.id %}">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="{% url 'sex_delete' pk=extra.id %}">
                              <i class="fas fa-trash">
                              </i>
                              Hapus
                          </a>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
    </section>
{% endblock %}

{% block script %}
<script>
  $(function () {
    $("#example1").DataTable();
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock script %}