{% extends 'sense/lte/index.html' %}
{% load static %}
{% block title %}
{% if details.image %}
Edit School Majors
{% else %}
Add School Majors
{% endif %}
{% endblock %}

{% block url %}
<li class="nav-item"><a class="nav-link" href="{% url 'sm_view' %}">Major View</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'sm_add' %}">Major Add</a></li>
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <form role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Data Description</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fas fa-minus"></i></button>
                  </div>
                </div>

                <div class="card-body">
                  <div class="form-group">
                    <label for="inputName">Major Name</label>
                    <input type="text" name="name" id="inputName" class="form-control" value="{{details.name}}">
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="card card-secondary">
                <div class="card-header">
                  <h3 class="card-title">Major Image</h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                      <i class="fas fa-minus"></i></button>
                  </div>
                </div>
                <div class="card-body">
                <div class="form-group">
                     <div class="card">
                         <div class="card-body text-center">
                               <div class="card" id="image-preview1-card" style="display: initial;">
                                    {% if details.image %}
                                      <img class="img-thumbnail"
                                           src="{% get_media_prefix %}{{ details.image }}"id="image-preview1"
                                           alt="image preview1" style="max-width:50%">
                                    {% else %}
                                      <img class="img-thumbnail"
                                           src="{% static 'sense/ltedist/img/default-150x150.png' %}"id="image-preview1"
                                           alt="image preview1" style="max-width:50%">
                                    {% endif %}

                               </div>
                            </div>
                         <hr>
                         <div class="form-group text-center">
                               <label for="image-source1" class="btn bg-red btn-sm" style="padding: 6px 12px;">
                                   Upload Major Image
                               </label>
                               <input hidden type="file" name="image" id="image-source1" onchange="previewImage1();" class="form-control"/><br>
                         </div>
                     </div>
                </div>
                <!-- /.card-body -->
              </div>
              </div>
            </div>
          </div>

          <div class="row" style="padding:2em;">
            <div class="col-12">
              <a href="{% url 'sm_view' %}" class="btn btn-secondary">Cancel</a>
                {% if details.image %}
                    <input type="submit" value="Save Major" class="btn btn-success">
                {% else %}
                    <input type="submit" value="Create new Major" class="btn btn-success">
                {% endif %}
            </div>
          </div>
        </form>
    </section>
{% endblock %}

{% block script %}
<script type="text/javascript">
   function previewImage1() {
      document.getElementById("image-preview1").style.display = "initial";
      document.getElementById("image-preview1-card").style.display = "initial";
      var oFReader1 = new FileReader();
      oFReader1.readAsDataURL(document.getElementById("image-source1").files[0]);
      oFReader1.onload = function (oFREvent) {
         document.getElementById("image-preview1").src = oFREvent.target.result;
      };
   };
</script>
{% endblock script %}